<div class="bootstrap-wrapper">
<div class="container">

    <div class="row" class="mt">
        <div class="col md-6 o3ffset-md-"></div>
        <div class="text-center"><h1>Login Here</h1></div>

        <form (ngSubmit)="onSubmit()">
             
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>UserName</mat-label>
              <input type="text" [(ngModel)]="credentials.username" name="username" matInput required/>
            </mat-form-field>

            <mat-form-field class="full-width" appearance="outline">
                <mat-label>Password</mat-label>
                <input type="password" [(ngModel)]="credentials.password" name="password" matInput required/>
              </mat-form-field>

              <div class="container text-center">
                 <button type="submit" mat-raised-button color="primary">Login</button>
                 <button type="reset" mat-raised-button color="accent">Cancel</button>
              </div>
        </form>

        {{credentials | json}}
    </div>
</div>
</div>
